body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background: url(/assets/img/coming.jpg) 50% 50%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: greenyellow;
}

.container h1{
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 10px;
    margin: 0px;
    font-weight: bolder;
}

.container h2{
    margin: 0;
    font-size: 20px;
    font-style: italic;
}

.count{
    margin: 40px 0;
}

.countd{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
    /* animation: spanbtn 2s linear infinite; */

}
.countd:hover{
    animation: spanbtn 2s linear infinite;
}

@keyframes spanbtn {
    100%{
        transform: translate(0px, -10%);
    }
}



#backbtn{
padding: 10px;
position: absolute;
background: rgb(10, 225, 42);
color: white;
font-size: 20px;
text-decoration: none;
font-weight: bold;
border-radius: 10px;
left: 43%;
box-shadow: 0 2px 15px rgb(237, 233, 233);
animation: back 5s linear infinite;
transition-delay: 1ms;
}

/* #backbtn:hover{
    animation: back 2s linear infinite;
} */

@keyframes back {
    100%{
        transform: translate(40px);
        filter: hue-rotate(220deg);
    }
}

/* 
.clearfix{
    display: flex;
    justify-content: center;
    position: relative;
    content: "0";
}

.wrapper{
    margin-top: 2%;
}

.player-0-panel{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 300px;

}

.player-1-panel{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    height: 300px;
}



.player-name{
    /* margin-top: 10%; */
    /* font-size: 35px; */
/* } */

/* 
.player-current-box{
    margin-top: 20%;
    font-size: 20px;
    padding: 10px;
    background: red;
    color: #fff;
    align-items: center;
    text-align: center;
}
 */
/* 
#score-0, #score-1{
    font-size: 26px;
}

i{
    font-size: 20px;
    color: red;
}

/* BTN */
/* .btn-new{
    margin-top: 0.3%;
    position: absolute;
    left: 47%;
    background: none;
    font-size: 20px;
    border: none;
} */
/* 
.btn-roll{
    position: absolute;
    top: 60%;
    background: none;
    font-size: 20px;
    border: none;
} */

/* .btn-hold{
    position: absolute;
    top: 74%;
    background: none;
    font-size: 20px;
    border: none;
} */ 
